*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'sans-serif';
}
.body{
    
    background-color: burlywood;
    overflow: hidden;
}
.main{
    background: linear-gradient(180deg,rgb(240, 0, 64), #ff8000); 
    max-width: 470px;
    width: 80%;
    margin-left: auto;
    margin-top: 10%;
    margin-right: auto;
    text-align: center;
    color: whitesmoke;
    border-radius: 50px;
    padding: 40px 35px;
    box-sizing: inherit;
    box-shadow: 0px 0px 45px rgb(128, 15, 0);
}
.search{
    width: 80%;
    outline: 0;
    border: 0;
    margin-left: 30px;
    margin-right: 15px;
    padding: 10px 25px;
    outline: 0;
    font-size: 20px;
    flex: 1;
    border-radius: 50px;
    background-color: whitesmoke;
    color: black;
    box-shadow: 0px 0px 45px rgb(128, 15, 0);
}
.content{
    margin: 30px 10px;
    font-size: 20px;
    font-weight: 100;
}
.bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}
.button{
    padding: 10px 25px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    flex: 1;
    border-radius: 50px;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    border: 0;
    outline: 0;
}